<div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 5%">
  <mat-card style="width: 80%">

    <mat-card-header>
      <mat-card-title>Bookings</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field color="accent">
          <input matInput [matDatepicker]="picker" placeholder="Filter by date" [formControl]="date"

                 (dateChange)="chosenDateHandler($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year" color="accent"
                          disabled="false"
                          [dateClass]="dateClass"></mat-datepicker>
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>


    <mat-card-content style="margin-top: 10px" [style.display]="!loading?'block' : 'none'"
                      fxLayout="row" fxLayoutAlign="center">

      <table mat-table [dataSource]="bookings" style="width: 100%;" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="customer name">
          <th mat-header-cell *matHeaderCellDef>Customer name</th>
          <td mat-cell *matCellDef="let element"> {{element.customer_name}}</td>
        </ng-container>

        <ng-container matColumnDef="customer email">
          <th mat-header-cell *matHeaderCellDef>Customer email</th>
          <td mat-cell *matCellDef="let element"> {{element.customer_email}}</td>
        </ng-container>

        <ng-container matColumnDef="start date">
          <th mat-header-cell *matHeaderCellDef>Start date</th>
          <td mat-cell *matCellDef="let element">
            {{element.start_date}}
          </td>
        </ng-container>
        <ng-container matColumnDef="end date">
          <th mat-header-cell *matHeaderCellDef>End date</th>
          <td mat-cell *matCellDef="let element">
            {{element.end_date}}
          </td>
        </ng-container>
        <ng-container matColumnDef="room">
          <th mat-header-cell *matHeaderCellDef>Room</th>
          <td mat-cell *matCellDef="let element">
            {{element.room.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="total nights">
          <th mat-header-cell *matHeaderCellDef>Total nights</th>
          <td mat-cell *matCellDef="let element">{{element.total_nights}}
          </td>
        </ng-container>

        <ng-container matColumnDef="total price">
          <th mat-header-cell *matHeaderCellDef>Total price</th>
          <td mat-cell *matCellDef="let element">
            {{element.currency}}{{element.total_price}}
          </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="primary" matTooltip="Edit booking" (click)="editBooking(element)"
                    style="margin-right: 10px"><i
              class="material-icons">edit</i></button>

            <button mat-mini-fab color="warn" matTooltip="Delete booking" (click)="deleteBooking(element)"><i
              class="material-icons">delete</i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div fxLayout="row wrap">
        <button mat-fab color="accent" class="bottom-right-button" matTooltip="Add booking"
                (click)="addNewBooking()"><i
          class="material-icons">add</i></button>
      </div>

    </mat-card-content>

    <mat-progress-bar [style.display]="loading?'block' : 'none'" mode="indeterminate"
                      style="width: 30%; margin: 0 auto"></mat-progress-bar>

  </mat-card>
</div>
