/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

.form {
  min-width: 30%;
  max-width: 80%;
  width: 100%;
}

.input-full-width{
  width: 100%;
}
