<h1 mat-dialog-title>{{data.title}}</h1>
<div [ngSwitch]="data.type">
  <div mat-dialog-content>
    <mat-form-field style="width: 100%;" *ngSwitchCase="'room-type'">
      <input matInput placeholder="" [(ngModel)]="data.roomType.name">
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'room'">
      <input matInput placeholder="" [(ngModel)]="data.room.name">
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'room'">
      <mat-label>Select room type</mat-label>
      <mat-select [(ngModel)]="data.room.room_type_id">
        <mat-option *ngFor="let roomType of data.room.roomTypes" [value]="+roomType.id">
          {{roomType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field style="width: 100%;" *ngSwitchCase="'pricing'">
      <input matInput placeholder="Price" type="number" [(ngModel)]="data.pricing.price">
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'pricing'">
      <mat-label>Select room type</mat-label>
      <mat-select [(ngModel)]="data.pricing.room_type_id">
        <mat-option *ngFor="let roomType of data.pricing.roomTypes" [value]="+roomType.id">
          {{roomType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'booking'">
      <input matInput placeholder="Customer name" type="text" [(ngModel)]="data.booking.name">
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'booking'">
      <input matInput placeholder="Customer email" type="email" [(ngModel)]="data.booking.email">
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'booking'"  color="accent">
        <input matInput [matDatepicker]="start_date" placeholder="Choose a start date" [(ngModel)]="data.booking.start_date" disabled>
        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
        <mat-datepicker #start_date color="accent" disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'booking'"  color="accent">
        <input matInput [matDatepicker]="end_date" placeholder="Choose end date" [(ngModel)]="data.booking.end_date" disabled>
        <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
        <mat-datepicker #end_date color="accent" disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 100%;" *ngSwitchCase="'booking'">
      <mat-label>Select room type</mat-label>
      <mat-select [(ngModel)]="data.booking.room_id">
        <mat-option *ngFor="let room of data.booking.rooms" [value]="+room.id">
          {{room.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="float: right">
    <button mat-button color="warning" (click)="cancel()">Cancel</button>
    <button mat-button color="accent" *ngSwitchCase="'room-type'" [disabled]="!data.roomType.name"
            [mat-dialog-close]="data.roomType">Ok
    </button>

    <button mat-button color="accent" *ngSwitchCase="'room'"
            [disabled]="!data.room.name || data.room.room_type_id === -1"
            [mat-dialog-close]="data.room">Ok
    </button>

    <button mat-button color="accent" *ngSwitchCase="'pricing'"
            [disabled]="!(+data.pricing.price) || data.pricing.room_type_id === -1"
            [mat-dialog-close]="data.pricing">Ok
    </button>

    <button mat-button color="accent" *ngSwitchCase="'booking'"
            [disabled]="!data.booking.name || !data.booking.email || data.booking.room_id === -1"
            [mat-dialog-close]="data.booking">Ok
    </button>
  </div>
</div>

