<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span class="toolbar-title"> Hotel Admin </span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" *ngIf="loggedIn">

      <ul fxLayout fxLayoutGap="20px">
        <li>
          <button mat-icon-button
                  matTooltip="Hotel info" (click)="hotelComponent">
            <mat-icon >hotel</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </li>
      </ul>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
