<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span class="toolbar-title"> Hotel Admin </span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" *ngIf="loggedIn">

      <ul fxLayout fxLayoutGap="20px">
        <li>
          <button mat-icon-button
                  matTooltip="Bookings" (click)="navigateTo('/bookings')">
            <mat-icon>schedule</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button
                  matTooltip="Hotel info" (click)="navigateTo('/hotel')">
            <mat-icon>hotel</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button
                  matTooltip="Hotel rooms" (click)="navigateTo('/rooms')">
            <mat-icon>meeting_room</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button matTooltip="Settings" [matMenuTriggerFor]="auth">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item (click)="navigateTo('/room-types')">
              <span>Room Types</span>
            </button>

            <button mat-menu-item (click)="navigateTo('/pricings')">
              <span>Pricing</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <span>Sign out</span>
            </button>

          </mat-menu>
        </li>
      </ul>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
